@tailwind base;
@tailwind components;
@tailwind utilities;


.hello {
    color: red;
}

.new_post {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.new_post .title {
    max-width: 300px;
    margin-bottom: 10px;
}

.new_post .img {
    margin-bottom: 10px;
    max-width: 220px;
}
